<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="URL" value="http://moni.51hupai.org/" />
    <add key="sleeptime" value="200" />
    <add key="基准点" value="808,414" />
    <add key="动态价格" value="-500,57" />
    <add key="加价幅度" value="27,-35" />
    <add key="加价按钮" value="155,-37" />
    <add key="出价按钮" value="147,78" />
    <add key="出价价格" value="28,67" />
    <add key="确认出价" value="-109,152" />
    <add key="返回确认" value="9,129" />
    <add key="确认出价价格左上角" value="22,-84" />
    <add key="刷新验证码" value="-112,75" />
    <add key="动态时间左上角" value="-478,44" />
    <add key="动态时间右下角" value="-461,56" />
    <add key="确认出价价格右下角" value="74,-67" />
    <add key="动态价格右下角" value="-455,72" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>